/* design the gallery of articles */

ul.article {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    font-size: 85%;
    justify-content: space-between;
}

ul.article li {
    list-style: none;
    width: 150px;
    margin: 4px 12px 4px 12px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #FFFFFF;
    box-sizing: content-box;
}

ul.article li:hover {
    border: 2px solid #EEEEEE;
}

ul.article li.empty {
    /* because of space-between to fix the last line */
    list-style: none;
    width: 184px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

ul.article table {
    width: 100%;
}

ul.article tr {
    text-align: left;
}

ul.article td.article-desc {
    text-align: right;
}

div.article-img {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

div.article-title {
    font-weight: bold;
    text-align: center;
    padding: 7px 0px 7px 0px;
}

div.article-prize {
    font-weight: bold;
    text-align: right;
    padding-top: 7px;
}


/* design the detail view of an article */

div.detail-wrap {
    display: flex;
    flex-direction: column;
    margin: 4px 12px 4px 12px;
    padding: 20px;
    border: 2px solid #EEEEEE;
}

div.close-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 0px;
}

div.close-button a {
    width: 22px;
    height: 22px;
    background-color: white;
    border: 1px solid white;
    box-sizing: padding-box;
}

div.close-button img {
    width: 90%;
    height: 90%;
    margin: 1px;
    opacity: 0.7;
}

div.close-button a:hover {
    border: 1px solid black;
}

div.detail {
    display: flex;
    width: 100%;
    flex-direction: row;
}

div.detail-img {
    text-align: center;
    width: 50%;
    padding: 10px 30px 10px 30px;
}

div.detail-img img {
    width: 90%;
    max-width: 600px;
    height: auto;
}

div.detail-desc {
    width: 50%;
    padding: 10px 30px 10px 30px;
}

div.article-computed {
    width: 100%;
    max-width: 400px;
    padding-bottom: 50px;
}

div.article-exist {
    width: 100%;
    max-width: 400px;
    padding-bottom: 40px;
}

span.detail-desc-title {
    display: block;
    font-size: 140%;
    padding-bottom: 15px;
}

table.tech-data {
    width: 100%;
    padding-bottom: 5px;
}

table.tech-data td.article-desc {
    text-align: right;
}

td.article-button {
    width: 100%;
}

div.detail-desc button {
    display: inline-block;
    float: right;
    width: 30%;
    min-width: 150px;
    font-size: 80%;
    padding: 3px 4px 3px 4px;
    box-shadow: none;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #929497;
}
