/* design the gallery of articles */

ul.article {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    font-size: 85%;
    justify-content: space-between;
}

ul.article li {
    list-style: none;
    width: 150px;
    margin: 0.2em 0.8em 0.2em 0.8em;
    padding: 0.9em;
    border-radius: 3px;
    border: 2px solid #FFFFFF;
    box-sizing: content-box;
}

ul.article li:hover {
    cursor: pointer;
    border: 2px solid #EEEEEE;
}

ul.article li.empty {
    /* because of space-between to fix the last line */
    list-style: none;
    width: 181px;
    height: 0;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

ul.article table {
    width: 100%;
}

ul.article tr {
    text-align: left;
}

ul.article td.article-desc {
    text-align: right;
}

div.article-img {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

div.article-title {
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
}

div.article-prize {
    font-weight: bold;
    text-align: right;
    padding-top: 0.5em;
}


/* design the detail view of an article */

div.detail-wrap {
    display: flex;
    flex-direction: column;
    margin: 0.8em;
    padding: 0.6em;
    border: 2px solid #EEEEEE;
}

div.detail {
    display: flex;
    width: 100%;
    flex-direction: row;
}

div.detail-img {
    width: 50%;
    text-align: center;
    padding: 0.6em 0 0.6em 0;
}

span.detail-img-title {
    display: block;
    font-size: 100%;
    padding: 0.6em 0 1.5em 0;
}

div.detail-img img {
    position: relative;
    height: 40vw;
    max-height: 600px;
    width: auto;
}

div.detail-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0.6em 1.2em 0.6em 1.2em;
    padding: 0.6em 0.6em 0.6em 1.8em;
    border-left: 2px solid #EEEEEE;
}

div.article-computed {
    width: 100%;
    max-width: 500px;
    padding-bottom: 3em;
}

div.article-exist {
    width: 100%;
    max-width: 500px;
    padding-bottom: 0.3em;
}

span.detail-desc-title {
    display: block;
    font-size: 140%;
    padding-bottom: 0.9em;
}

table.tech-data {
    width: 100%;
    padding-bottom: 0.9em;
}

table.tech-data td {
    text-align: left;
    padding-bottom: 0.3em;
}

table.tech-data td.article-desc {
    text-align: right;
}

table.tech-data td.spacer {
    border-top: 1px solid black;
    padding-bottom: 0.6em;
}
