/* design the article page */

div.article-main {
    margin-bottom: 20px;
}


/* design the gallery of articles */

ul.article {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    font-size: 85%;
}

ul.article li {
    display: inline-block;
    list-style: none;
    width: 164px;
    margin: 4px 7px 4px 7px;
    padding: 5px;
    border-radius: 3px;
}

ul.article li:hover {
    background-color: #EEEEEE;
}

ul.article table {
    width: 100%;
    background-color: #FFFFFF;
    padding: 0px 7px 0px 7px;
}

ul.article tr {
    text-align: left;
}

div.article-img {
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding: 7px;
}

div.article-title {
    font-weight: bold;
    text-align: center;
    padding: 3px 7px 7px 7px;
    background-color: #FFFFFF;
}

td.article-desc {
    text-align: right;
}

div.article-prize {
    font-weight: bold;
    text-align: right;
    padding: 7px;
    background-color: #FFFFFF;
}


/* design the detail view of an article */

div.detail-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border: 2px solid #EEEEEE;
}

div.close-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 0;
}

div.close-button button.close {
    width: 20px;
    height: 20px;
}

div.detail {
    display: flex;
    width: 100%;
    flex-direction: row;
}

div.detail-img {
    text-align: center;
    width: 40%;
    padding: 20px;
}

div.detail-img img {
    width: 90%;
    max-width: 600px;
    height: auto;
}

div.detail-desc {
    width: 52%;
    padding: 20px;
}

span.detail-desc-title {
    display: block;
    font-size: 140%;
    padding-bottom: 15px;
}

div.detail-desc table.tech-data {
    width: 50%;
    min-width: 250px;
    padding-bottom: 15px;
}

div.selection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
}

div.selection-pre {
    padding-right: 15px;
}

div.selection-prize {
    align-self: flex-end;
    text-align: right;
    width: 100px;
    padding-left: 15px;
}

div.selection button {
    width: 100px;
    align-self: flex-end;
    font-size: 100%;
    margin: 5px 0px 5px 0px;
    padding: 3px 4px 3px 4px;
    box-shadow: none;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #929497;
}
