/* design the text, links, titles, paragraphs etc. */
* {
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

h1 {
    font-size: 140%;
}

h2 {
    font-size: 120%;
}

h4 {
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 6px;
}

p {
  padding-bottom: 3px;
}

li {
  padding-bottom: 4px;
}

/*design the output */

div#output-desc {
  padding-top: 20px;
  padding-bottom: 20px;
}

div#output {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.article {
    display: block;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
}

div.article-title {
    font-weight: bold;
    font-size: 90%;
    padding-top: 10px;
}

div.article-desc {
    font-size: 90%;
}

div.article-prize {
    font-weight: bold;
    padding-top: 5px;
}

img.img-output {
  height: 150px;
}
