/* design the text, links, titles, paragraphs etc. */

* {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

h1 {
    font-size: 110%;
    padding-bottom: 12px;
}

h2 {
    font-size: 110%;
    padding-bottom: 6px;
}

h4 {
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 6px;
}

p {
    line-height: 150%;
    padding-bottom: 3px;
}

li {
    padding-bottom: 4px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #424242;
}

a:hover {
    color: black;
}

span.bold {
    font-weight: bold;
}

span.underline {
    text-decoration: underline;
}


/* design the intro */

div.intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

div.intro-desc {
    flex: 1 1 auto;
    width: 50%;
    padding-right: 25px;
}

div.intro-pre {
    flex: 1 1 auto;
    width: 50%;
    padding-left: 25px;
}


/* design the overview */

div.overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    text-align: center;
}

div.overview-image-1 {
    flex: 1 1 auto;
    width: 50%;
    position: relative;
    padding-right: 25px;
}

div.overview-image-1 img {
    width: 100%;
    height: auto;
}

div.overview-image-2 {
    flex: 1 1 auto;
    width: 50%;
    position: relative;
    padding-left: 25px;
}

div.overview-image-2 img {
    width: 100%;
    height: auto;
}

div.overview-text {
    left: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    vertical-align: middle;
    width: 100%;
}

div.overview-text a {
    font-size: 300%;
    color: #FFFFFF;
    text-shadow: 2px 2px 10px #424242;
}


/* design the box */

table.box-container {
    width: 100%;
}

table.box-container table {
    margin-bottom: 15px;
}

table.box-container td {
    vertical-align: top;
}

table.box-container td.box-text {
    padding-right: 25px;
    width: 50%;
}

table.box-container td.box-title {
    width: 80px;
    margin-bottom: 5px;
}

table.box-container td.box-img {
    padding-left: 25px;
    width: 50%;
}

table.box-container td.box-img img {
    width: 100%;
    height: auto;
}

table.box-container td.box-text img {
    width: 100%;
    height: auto;
}

tr.box-spacer {
    height: 45px;
}


/* design the contact form */

div.contact-form {
    width: 50%;
    min-width: 500px;
}

div.contact-form input {
    display: block;
    width: 100%;
    font-size: 100%;
    margin: 12px 0px 12px 0px;
    padding: 3px;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #929497;
}

div.contact-form textarea {
    display: block;
    width: 100%;
    font-size: 100%;
    margin: 12px 0px 12px 0px;
    padding: 3px;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #929497;
}

div.contact-form button {
    display: block;
    float: right;
    font-size: 100%;
    margin: 5px 0px 5px 0px;
    padding: 3px 4px 3px 4px;
    box-shadow: none;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #929497;
}
