/* design the text, links, titles, paragraphs etc. */

* {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

h1 {
    font-size: 110%;
    padding-bottom: 12px;
}

h2 {
    font-size: 110%;
    padding-bottom: 6px;
}

h4 {
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 6px;
}

p {
    line-height: 150%;
    padding-bottom: 3px;
}

li {
    padding-bottom: 4px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #424242;
}

a:hover {
    color: black;
}

span.bold {
    font-weight: bold;
}

span.underline {
    text-decoration: underline;
}


/* design the head */

div.head {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 180px;
    color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 2px;
}

div.head span {
  font-size: 250%;
  padding-left: 2%;
}

div.head ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    font-size: 120%;
    background: rgba(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, 0.7);
}

div.head li {
  align-items: center;
  padding: 5px 2% 5px 2%;
  border-right: 1px solid #F0E1DC;
}

div.head li:hover {
  background-color: #CC0000;
  opacity: 0.7;
  filter: alpha(opacity=70); /*Fall-back for IE*/
}

div.head a {
  padding: 5px;
  color: black;
}

div.head a:hover {
  color: #FFFFFF;
}

/* design the intro */

div.intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

div.intro-desc {
    flex: 1 1 auto;
    width: 50%;
    padding-right: 25px;
}

div.intro-pre {
    flex: 1 1 auto;
    width: 50%;
    padding-left: 25px;
}

/* design the box */

table.box {
    width: 100%;
}

table.box td {
    vertical-align: top;
}

table.box td.box-title {
    width: 80px;
}

table.box td.box-img {
    text-align: right;
    width: 50%;
}

table.box td.box-img img {
    width: 100%;
    height: auto;
    margin-left: 20px;
}

/* design the article page */

div.article-main {
  margin-bottom: 20px;
}

/* design the gallery of articles */

ul.article {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    font-size: 85%;
}

ul.article li {
    display: inline-block;
    list-style: none;
    width: 164px;
    margin: 4px 7px 4px 7px;
    padding: 5px;
    border-radius: 3px;
}

ul.article li:hover {
    background-color: #EEEEEE;
}

ul.article table {
    width: 100%;
    background-color: #FFFFFF;
    padding: 0px 7px 0px 7px;
}

ul.article tr {
    text-align: left;
}

div.article-img {
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding: 7px;
}

div.article-title {
    font-weight: bold;
    text-align: center;
    padding: 3px 7px 7px 7px;
    background-color: #FFFFFF;
}

td.article-desc {
    text-align: right;
}

div.article-prize {
    font-weight: bold;
    text-align: right;
    padding: 7px;
    background-color: #FFFFFF;
}

/* design the detail view of an article */

div.detail {
  display: flex;
  width: 100%;
  padding: 20px;
  border: 5px solid #EEEEEE;
}

div.detail-img {
  text-align: center;
  width: 50%;
  padding-right: 30px;
}

div.detail-desc {
  width: 50%;
  padding-left: 15px;
}

div.detail-desc table {
    width: 200px;
}

div.detail-desc td.article-status {
  text-align: center;
}

div.article-desc-color {
  float: right;
  width: 15px;
  height: 15px;
}

/* design the contact form */

div.contact-form {
    width: 50%;
    min-width: 500px;
}

div.contact-form input {
    display: block;
    width: 100%;
    font-size: 100%;
    margin: 12px 0px 12px 0px;
    padding: 3px;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #929497;
}

div.contact-form textarea {
    display: block;
    width: 100%;
    font-size: 100%;
    margin: 12px 0px 12px 0px;
    padding: 3px;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #929497;
}

div.contact-form button {
    display: block;
    float: right;
    font-size: 100%;
    margin: 5px 0px 5px 0px;
    padding: 3px 4px 3px 4px;
    box-shadow: none;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #929497;
}
