/* the layout of the filters right and left */

ul.filter li {
    display: flex;
    flex-direction: row;
}

ul.filter div.numb {
}

ul.filter div.desc {
}

ul.filter li.all {
    font-weight: bold;
}

ul.filter li.selected {
    list-style: square;
}
