/*the layout of the filter*/

div.filter-wrap {
    margin: auto;
    width: calc(100% - 60px);
    border-left: 1px solid black;
    border-right: 1px solid black;
}

div.filter-wrap div.intro-desc {
    padding: 0px 30px 0px 30px;
}

div.filter {
    display: flex;
    flex-direction: column;
    font-size: 90%;
}

div.filter-box {
    min-width: 200px;
    margin: 10px;
}

/* design the slider */

div.filter-slider {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

div.filter-slider div.tag {
    position: relative;
    float: right;
    top: -9px;

}

/* design the filter-list for a normal list */

ul.filter-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

ul.filter-list li {
    display: flex;
    list-style: none;
    margin: 5px;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
}

ul.filter-list li.selected {
    background-color: #85C1E9;
}

ul.filter-list li:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

ul.filter-list div.desc {
    flex: 1 1 auto;
    display: list-item;
}

ul.filter-list div.numb {
    text-align: right;
}


/* design the filter-list for the colors */

ul.filter-list-color {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

ul.filter-list-color li {
    list-style: none;
    margin: 5px;
}

ul.filter-list-color div.color-pix {
    width: 21px;
    height: 21px;
    border-radius: 3px;
    border: 1px solid #424242;
    box-sizing: border-box;
}

ul.filter-list-color div.color-pix:hover {
    cursor: pointer;
    border: 2px solid #EEEEEE;
}

ul.filter-list-color div.selected {
    border: 2px solid #85C1E9;
}

ul.filter-list-color div.tooltip {
    position: relative;
    display: inline-block;
}

ul.filter-list-color .tooltip .tooltiptext {
    visibility: hidden;
    color: #55637D;
    position: absolute;
    top: 150%;
    z-index: 1;
}

ul.filter-list-color .tooltip:hover .tooltiptext {
    visibility: visible;
}

/* design the button Filter zurücksetzen */

div.filter-delete {
    font-size: 90%;
    align-self: flex-end;
    margin-bottom: 15px;
}

div.filter-delete button:hover {
    background-color: #F5B7B1;
}
