/* this file describes the basic layout of the page */
* {
    margin: 0;
    padding: 0;
}

/* header */
#header {
    height: 60px;
    padding: 20px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#header div.logo {
    flex: 1 1 290px;
}

#header ul.nav {
    /*  margin-top: 50px;
    margin-left: 50px; */
    flex: 2 1 auto;
}

div.shop {
    flex: 1 1 290px;
}

/* main box */
#main {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#main > div {
    padding: 15px;
}

#menu-left {
    width: 285px;
}

#content {
}

#menu-right {
    width: 250px;
}

/* footer */
#footer {
    width: 100%;
    border-top: 2px solid black;
}

#footer ul.nav {
    float: right;
}
