/* this file describes the basic layout of the page */

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 92%;
    margin: 0 auto;
}

#page {
    display: flex;
    flex-direction: column;
}


/* header */

#logo {
    padding-right: 1.8em;
}

#header {
    display: flex;
    justify-content: space-between;
    margin: 1.2em 1.2em 0.3em 1.2em;
}

#menu {
    width: 100%;
    margin-top: 1.3em;
}

#cart {
    text-align: center;
    width: 20%;
    padding-left: 1.8em;
    margin-top: 1.3em;
}


/* line */

#line {
    border-top: 2px solid black;
}


/* main box */

#main {
    display: flex;
    flex-direction: column;
    margin: 0.6em 0 0.6em 0;
}


/* footer */

#footer {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin: 0.3em 1.2em 0.6em 1.2em;
}
