/* this file describes the basic layout of the page */
* {
    margin: 0;
    padding: 0;
}

/* header */
#header {
    border-bottom: 2px solid black;
    display: flex;
    margin: 10px;

}

#logo {
    flex: 0 0 240px;
    padding-right: 30px;
}

#menu {
    flex: 1 1 auto;
    margin-top: 32px
}

#shop {
    flex: 0 0 240px;
    padding-left: 50px;
}

/* main box */
#main {
    display: flex;
    margin: 10px
}

#filter-main {
    flex: 0 0 240px;
    padding-right: 30px;
}

#content {
    flex: 1 1 auto;
}

#filter-sub {
    flex: 0 0 240px;
    padding-left: 50px;
}

/* footer */
#footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-top: 2px solid black;
    margin: 10px
}
