/* the layout of the header and footer navigations */

ul.nav li {
    float: left;
    list-style: none;
    margin-right: 3ex;
    font-size: 110%;
    padding: 6px 10px 6px 10px;
    border-radius: 8px;
}

ul.nav-footer li {
    margin-right: 0px;
    margin-left: 3ex;
    padding: 6px 0px 6px 10px;
}

#header a.active {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
