/* the layout of the header and footer navigations */
ul.nav li {
    float: left;
    list-style: none;
    margin-right: 3ex;
    font-size: 120%
}

ul.nav a {
    color: black;
    text-decoration: none;
}
