<div class="intro">
    <div class="intro-desc">
        <p>Über 1400 verschiedene Armbänder, Schlüsselanhänger und Buchzeichen bieten wir an. Stöbern Sie auf dem <a ui-sref="artikel.marktplatz">Marktplatz</a> oder suchen Sie gezielt nach einem Muster und wir knüpfen es Ihnen in Ihrer gewünschten Länge.</p>
    </div>
    <div class="intro-desc">
    </div>
</div>
<div class="intro">
    <div class="intro-desc overview">
      <img src="http://api0.geknuepft.ch/v0/Image/800p/content/coll_11.jpg" alt="türkisblauer Sandstrand" />
      <div class="overview-text">
          <a ui-sref="article.armband"><span>Unsere neuste Kollektion:</span><br/>Türkisblauer Sandstrand</a>
      </div>
    </div>
    <div class="intro-desc overview">
      <img src="http://api0.geknuepft.ch/v0/Image/800p/content/marktstand.jpg" alt="Marktstand" />
      <div class="overview-text">
          <a ui-sref="artikel.marktplatz"><span></span><br/>Marktplatz</a>
      </div>
    </div>
</div>




<div id="filter" ng-controller="filterMain" ng-if="false">
    <div ng-repeat="filter in filters" class="filter-box" ng-class="'filter-box-' + filter.filter">
        <h4>{{ filter.filter_de }}:</h4>
        <ul ng-if="filter.filter_type == 'id'" class="filter-list">
            <li ng-repeat="category in filter.category">
                <div class="desc">{{ category.de }}</div>
                <div class="numb">todo</div>
            </li>
        </ul>
        <ul ng-if="filter.filter_type == 'range'" class="filter-list">
            <li ng-repeat="range in filter.range">
                <div ng-if="filter.filter == 'price' && range.geq === null && range.leq !== null" class="desc">bis {{ (range.leq / 100) |number:2 }}</div>
                <div ng-if="filter.filter == 'price' && range.geq !== null && range.leq !== null" class="desc">{{ (range.geq / 100) | number:2 }} bis {{ (range.leq / 100) |number:2 }}</div>
                <div ng-if="filter.filter == 'price' && range.geq !== null && range.leq === null" class="desc">&uuml;ber {{ (range.geq / 100) | number:2 }}</div>
                <div ng-if="filter.filter != 'price' && range.geq === null && range.leq !== null" class="desc">bis {{ (range.leq / 10) | number }}</div>
                <div ng-if="filter.filter != 'price' && range.geq !== null && range.leq !== null" class="desc">{{ (range.geq / 10) | number }} bis {{ (range.leq / 10) | number }}</div>
                <div ng-if="filter.filter != 'price' && range.geq !== null && range.leq === null" class="desc">&uuml;ber {{ (range.geq / 10) | number }}</div>
                <div class="numb">todo</div>
            </li>
        </ul>
    </div>
    <div class="filter-delete">
        <span>alle Filter zurücksetzen</span>
    </div>
</div>
