<div class="intro">
    <div class="intro-desc">
        <p>Hier finden Sie alle Muster und die passenden Suchfunktionen f&uuml;r ein Armband. Sind Sie unsicher, wie lange Ihr Armband sein soll? <a>Lesen Sie hier mehr darüber!</a></p>
        </br>
        <p>Möchten Sie ein besonders langes Armand bzw. das Armband doppelt oder dreifach um das Handgelenk wickeln, w&auml;hlen Sie die &Uuml;berl&auml;nge aus.</p>
    </div>
    <div class="intro-pre">
        <p>
    </div>
</div>
<div id="filter" ng-controller="filterMain">
    <div class="filter-slider-wrap">
        <div class="filter-slider" ng-controller="propertiesMain">
            <div class="tag">&Uuml;berl&auml;nge</div>
            <h4>L&auml;nge:</h4>
            <rzslider class="custom-slider" rz-slider-model="lengthSlider.value" rz-slider-options="lengthSlider.options"></rzslider>
        </div>
        <div class="filter-slider">
            <h4>Breite:</h4>
            <rzslider class="custom-slider" rz-slider-model="widthSlider.minValue" rz-slider-high="widthSlider.maxValue" rz-slider-options="widthSlider.options"></rzslider>
        </div>
        <div class="filter-slider">
            <h4>Preis:</h4>
            <rzslider class="custom-slider" rz-slider-model="priceSlider.minValue" rz-slider-high="priceSlider.maxValue" rz-slider-options="priceSlider.options"></rzslider>
        </div>
    </div>
    <div class="filter-wrap">
        <div class="filter-box">
            <h4>Farben:</h4>
            <ul class="filter-list-color">
                <li>
                    <div class="color-pix tooltip" style="background-color:#FFFFFF;"><span class="tooltiptext">weiss</span></div>
                </li>
                <li>
                    <div class="color-pix tooltip selected" style="background-color:#808080;"><span class="tooltiptext">grau</span></div>
                </li>
                <li>
                    <div class="color-pix tooltip" style="background-color:#000000;"><span class="tooltiptext">schwarz</span></div>
                </li>
                <li>
                    <div class="color-pix tooltip" style="background-color:#802B00;"><span class="tooltiptext">braun</span></div>
                </li>
                <li>
                    <div class="color-pix tooltip" style="background-color:#990099;"><span class="tooltiptext">violett</span></div>
                </li>
                <li>
                    <div class="color-pix tooltip" style="background-color:#FF0066;"><span class="tooltiptext">pink</span></div>
                </li>
                <li>
                    <div class="color-pix tooltip" style="background-color:#0000FF;"><span class="tooltiptext">blau</span></div>
                </li>
                <li>
                    <div class="color-pix tooltip" style="background-color:#40E0D0;"><span class="tooltiptext">türkis</span></div>
                </li>
                <li>
                    <div class="color-pix tooltip" style="background-color:#009900;"><span class="tooltiptext">grün</span></div>
                </li>
                <li>
                    <div class="color-pix tooltip" style="background-color:#FFFF00;"><span class="tooltiptext">gelb</span></div>
                </li>
                <li>
                    <div class="color-pix tooltip" style="background-color:#FF9900;"><span class="tooltiptext">orange</span></div>
                </li>
                <li>
                    <div class="color-pix tooltip" style="background-color:#FF0000;"><span class="tooltiptext">rot</span></div>
                </li>
            </ul>
        </div>
        <div class="filter-box">
            <h4>Garn:</h4>
            <ul class="filter-list">
                <li class="selected">
                    <div class="desc">d&uuml;nneres Garn</div>
                </li>
                <li>
                    <div class="desc">dickeres Garn</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="filter-delete">
    <span>alle Filter zurücksetzen</span>
</div>
<p>Ihre Auswahl umfasst folgende <span class="bold">304</span> Aritkel:</p>
<div class="detail-wrap">
    <div class="close-button">
        <button class="close" title="verkleinern">X</button>
    </div>
    <div class="detail">
        <div class="detail-img">
            <img src="http://api0.geknuepft.ch/v0/Image/600p/cma0/160523_1/IMG_3079.JPG" />
        </div>
        <div class="detail-desc">
            <div class="article-computed">
                <span class="detail-desc-title">Armband</span>
                <table class="tech-data">
                    <tr>
                        <td>Artikel-Nr.</td>
                        <td class="article-desc">682</td>
                    </tr>
                    <tr>
                        <td>Muster</td>
                        <td class="article-desc">302</td>
                    </tr>
                    <tr>
                        <td>Garntyp</td>
                        <td class="article-desc">Catania</td>
                    </tr>
                    <tr>
                        <td>Musterwiederholung</td>
                        <td class="article-desc">4 cm</td>
                    </tr>
                    <tr>
                        <td>Anzahl F&auml;den</td>
                        <td class="article-desc">18</td>
                    </tr>
                    <tr>
                        <td>Breite</td>
                        <td class="article-desc">5 cm</td>
                    </tr>
                    <tr>
                        <td>Gew&uuml;nschte L&auml;nge</td>
                        <td class="article-desc">14 cm</td>
                    </tr>
                    <tr>
                        <td>Lieferzeit</td>
                        <td class="article-desc">14 Tage</td>
                    </tr>
                    <tr>
                        <td>Preis</td>
                        <td class="article-desc"><span class="bold">CHF 18.-</span></td>
                    </tr>
                </table>
                <button type="submit">in den Warenkorb</button>
            </div>
            <div class="article-exist">
                <p>&Uuml;brigens, dieser Artikel ist bereits gekn&uuml;pft und kann wie folgt geliefert werden:</p>
                <table class="tech-data">
                    <tr>
                        <td>L&auml;nge</td>
                        <td class="article-desc">15 cm</td>
                    </tr>
                    <tr>
                        <td>Lieferzeit</td>
                        <td class="article-desc">3 Werktage</td>
                    </tr>
                    <tr>
                        <td>Preis</td>
                        <td class="article-desc"><span class="bold">CHF 16.-</span></td>
                    </tr>
                </table>
                <button type="submit">in den Warenkorb</button>
            </div>
        </div>
    </div>
</div>
<ul class="article" ng-controller="gallery">
    <li ng-repeat="article in articles">
        <div class="article-img">
            <img ng-if="article.picture" src="http://api0.geknuepft.ch/v0/Image/150p/{{ article.picture.path }}" alt="{{ article.picture.type }}" />
        </div>
        <div class="article-title">{{ article.name }}</div>
        <table>
            <tr>
                <td>Artikel-Nr.</td>
                <td class="article-desc">{{ article.article_id }}</td>
            </tr>
            <tr>
                <td>L&auml;nge</td>
                <td class="article-desc">{{ (article.length_mm / 10)| number }} cm</td>
            </tr>
            <tr ng-if="article.width_mm !== null">
                <td>Breite</td>
                <td class="article-desc">~{{ (article.width_mm / 10)| number }} cm</td>
            </tr>
        </table>
        <div class="article-prize">CHF {{ (article.price_cchf / 100)| number:2 }}</div>
    </li>
    <li class="empty"></li>
    <li class="empty"></li>
    <li class="empty"></li>
    <li class="empty"></li>
    <li class="empty"></li>
    <li class="empty"></li>
    <li class="empty"></li>
    <li class="empty"></li>
</ul>
