<div class="intro">
    <div class="intro-desc">
        <p>Hier finden Sie alle Muster und die passenden Suchfunktionen f&uuml;r ein Armband. Sind Sie unsicher, wie lange Ihr Armband sein soll? <a>Lesen Sie hier mehr darüber!</a></p>
        </br>
        <p>Möchten Sie ein besonders langes Armand bzw. das Armband doppelt oder dreifach um das Handgelenk wickeln, w&auml;hlen Sie die &Uuml;berl&auml;nge aus.</p>
    </div>
    <div class="intro-desc">
        <p>
    </div>
</div>
<div class="filter-wrap" ng-controller="filterMain">
    <div class="intro filter-delete">
        <div class="intro-desc wide">
            <button>alle Filter zurücksetzen</button>
        </div>
    </div>
    <div class="intro">
        <div class="intro-desc">
            <div class="filter">
                <div class="filter-slider" ng-controller="propertiesMain">
                    <div class="tag"><button>&Uuml;berl&auml;nge</button></div>
                    <h4>L&auml;nge:</h4>
                    <rzslider class="custom-slider" rz-slider-model="lengthSlider.value" rz-slider-options="lengthSlider.options"></rzslider>
                </div>
                <div class="filter-slider">
                    <h4>Breite:</h4>
                    <rzslider class="custom-slider" rz-slider-model="widthSlider.minValue" rz-slider-high="widthSlider.maxValue" rz-slider-options="widthSlider.options"></rzslider>
                </div>
                <div class="filter-slider">
                    <h4>Preis:</h4>
                    <rzslider class="custom-slider" rz-slider-model="priceSlider.minValue" rz-slider-high="priceSlider.maxValue" rz-slider-options="priceSlider.options"></rzslider>
                </div>
            </div>
        </div>
        <div class="intro-desc">
            <div class="filter">
                <div class="filter-box">
                    <h4>Farben:</h4>
                    <ul class="filter-list-color">
                        <li>
                            <div class="color-pix tooltip" style="background-color:#FFFFFF;"><span class="tooltiptext">weiss</span></div>
                        </li>
                        <li>
                            <div class="color-pix tooltip selected" style="background-color:#808080;"><span class="tooltiptext">grau</span></div>
                        </li>
                        <li>
                            <div class="color-pix tooltip" style="background-color:#000000;"><span class="tooltiptext">schwarz</span></div>
                        </li>
                        <li>
                            <div class="color-pix tooltip" style="background-color:#802B00;"><span class="tooltiptext">braun</span></div>
                        </li>
                        <li>
                            <div class="color-pix tooltip" style="background-color:#990099;"><span class="tooltiptext">violett</span></div>
                        </li>
                        <li>
                            <div class="color-pix tooltip" style="background-color:#FF0066;"><span class="tooltiptext">pink</span></div>
                        </li>
                        <li>
                            <div class="color-pix tooltip" style="background-color:#0000FF;"><span class="tooltiptext">blau</span></div>
                        </li>
                        <li>
                            <div class="color-pix tooltip" style="background-color:#40E0D0;"><span class="tooltiptext">türkis</span></div>
                        </li>
                        <li>
                            <div class="color-pix tooltip" style="background-color:#009900;"><span class="tooltiptext">grün</span></div>
                        </li>
                        <li>
                            <div class="color-pix tooltip" style="background-color:#FFFF00;"><span class="tooltiptext">gelb</span></div>
                        </li>
                        <li>
                            <div class="color-pix tooltip" style="background-color:#FF9900;"><span class="tooltiptext">orange</span></div>
                        </li>
                        <li>
                            <div class="color-pix tooltip" style="background-color:#FF0000;"><span class="tooltiptext">rot</span></div>
                        </li>
                    </ul>
                </div>
                <div class="filter-box">
                    <h4>Garn:</h4>
                    <ul class="filter-list">
                        <li class="selected">
                            <div class="desc">d&uuml;nneres Garn</div>
                        </li>
                        <li>
                            <div class="desc">dickeres Garn</div>
                        </li>
                    </ul>
                </div>
                <div class="filter-box">
                    <h4>Thema:</h4>
                    <ul class="filter-list">
                        <li>
                            <div class="desc">Musik</div>
                        </li>
                        <li>
                            <div class="desc">Tiere</div>
                        </li>
                        <li>
                            <div class="desc">Jahreszeiten</div>
                        </li>
                    </ul>
                </div>
                <div class="filter-box">
                    <h4>Eingekn&uuml;pftes:</h4>
                    <ul class="filter-list">
                        <li>
                            <div class="desc">Steinperlen</div>
                        </li>
                        <li>
                            <div class="desc">Holzperlen</div>
                        </li>
                        <li>
                            <div class="desc">Wachsperlen</div>
                        </li>
                        <li>
                            <div class="desc">anderes</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="intro">
    <div class="intro-desc wide">
        <p>Ihre Auswahl umfasst folgende <span class="bold">304</span> Aritkel:</p>
    </div>
</div>
<div class="detail-wrap">
    <div class="button-wrap">
        <button type="submit" class="close"><img src="pictures/verkleinern.svg"></button>
    </div>
    <div class="detail">
        <div class="detail-img">
            <div class="button-wrap">
                <div class="gallery-button">
                    <button type="submit" class="prev"></button>
                </div>
                <div class="gallery-button">
                    <button type="submit" class="next"></button>
                </div>
            </div>
            <span class="detail-img-title">Nahaufnahme</span>
            <img src="http://api0.geknuepft.ch/v0/Image/600p/cma0/161116_4/IMG_4080.JPG">
            </img>
        </div>
        <div class="detail-desc">
            <div class="article-computed">
                <span class="detail-desc-title">Armband mit eingekn&uuml;pften Japanischen Roccailles</span>
                <table class="tech-data">
                    <tr>
                        <td>Breite</td>
                        <td class="article-desc">&#126; 5 cm</td>
                    </tr>
                    <tr>
                        <td>Anzahl F&auml;den</td>
                        <td class="article-desc">18</td>
                    </tr>
                    <tr>
                        <td>Garntyp</td>
                        <td class="article-desc">Catania fine</td>
                    </tr>
                    <tr>
                        <td>Anzahl Farben</td>
                        <td class="article-desc">5</td>
                    </tr>
                    <tr>
                        <td>Anzahl eingekn&uuml;pfter Japanischer Roccailles</td>
                        <td class="article-desc">20</td>
                    </tr>
                    <tr>
                        <td>Musterwiederholung
                            <div class="tooltip">
                                <button class="info">i</button>
                                <span class="tooltiptext">Info</span>
                            </div>
                        </td>
                        <td class="article-desc">4 cm</td>
                    </tr>
                    <tr>
                        <td>Gew&uuml;nschte L&auml;nge</td>
                        <td class="article-desc">
                            <input type="number" step="0.5" name="length" value="14.5" min="10" max="30" class="inline" />cm
                        </td>
                    </tr>
                    <tr>
                        <td>Abschluss</td>
                        <td class="article-desc">
                            <select required class="inline">
                                <option value="zopf">Zopf</option>
                                <option value="lose">lose F&auml;den</option>
                          </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Lieferzeit</td>
                        <td class="article-desc">14 Tage</td>
                    </tr>
                    <tr>
                        <td class="spacer" colspan="2"></td>
                    </tr>
                    <tr>
                        <td>Preis</td>
                        <td class="article-desc"><span class="bold">CHF 18.00</span></td>
                    </tr>
                </table>
                <button type="submit">in den Warenkorb</button>
            </div>
            <div class="article-exist">
                <p>&Uuml;brigens, dieses Armband ist bereits gekn&uuml;pft und kann wie folgt geliefert werden:</p>
                <table class="tech-data">
                    <tr>
                        <td>L&auml;nge</td>
                        <td class="article-desc">15 cm</td>
                    </tr>
                    <tr>
                        <td>Abschluss</td>
                        <td class="article-desc">Zopf</td>
                    </tr>
                    <tr>
                        <td>Lieferzeit</td>
                        <td class="article-desc">3 Werktage</td>
                    </tr>
                    <tr>
                        <td class="spacer" colspan="2"></td>
                    </tr>
                    <tr>
                        <td>Preis</td>
                        <td class="article-desc"><span class="bold">CHF 16.00</span></td>
                    </tr>
                </table>
                <button type="submit">in den Warenkorb</button>
            </div>
        </div>
    </div>
</div>
<ul class="article" ng-controller="gallery">
    <li ng-repeat="article in articles">
        <div class="article-img">
            <img ng-if="article.picture" src="http://api0.geknuepft.ch/v0/Image/150p/{{ article.picture.path }}" alt="{{ article.picture.type }}" />
        </div>
        <div class="article-title">{{ article.name }}</div>
        <table>
            <tr>
                <td>L&auml;nge</td>
                <td class="article-desc">{{ (article.length_mm / 10)| number }} cm</td>
            </tr>
            <tr ng-if="article.width_mm !== null">
                <td>Breite</td>
                <td class="article-desc">&#126;{{ (article.width_mm / 10)| number }} cm</td>
            </tr>
        </table>
        <div class="article-prize">CHF {{ (article.price_cchf / 100)| number:2 }}</div>
    </li>
    <li class="empty"></li>
    <li class="empty"></li>
    <li class="empty"></li>
    <li class="empty"></li>
    <li class="empty"></li>
    <li class="empty"></li>
    <li class="empty"></li>
    <li class="empty"></li>
</ul>
