<div class="intro">
    <div class="intro-desc">
        <p>Legen Sie die gew&uuml;nschte L&auml;nge für ihr Armband fest:</p>
        <div class="slider">hier hat's Platz für einen Slider</div>
    </div>
    <div class="intro-desc">
        <p><a>Lesen Sie hier mehr &uuml;ber die &uuml;blichen L&auml;ngenmasse f&uuml;r ein Armband.</a></p>
        <br/>
        <p>Wissen Sie die ben&ouml;tigte L&auml;nge noch nicht, lassen sie die Standardeinstellung von 14 cm stehen. Sie k&ouml;nnen die L&auml;nge auch sp&auml;ter noch &auml;ndern.
    </div>
</div>
<div id="filter" ng-controller="filterMain">
    <div ng-repeat="filter in filters" class="filter-box" ng-class="'filter-box-' + filter.filter">
        <h4>{{ filter.filter_de }}:</h4>
        <ul ng-if="filter.filter_type == 'id'" class="filter-list">
            <li ng-repeat="category in filter.category">
                <div class="desc">{{ category.de }}</div>
                <div class="numb">todo</div>
            </li>
        </ul>
        <ul ng-if="filter.filter_type == 'range'" class="filter-list">
            <li ng-repeat="range in filter.range">
                <div ng-if="filter.filter == 'price' && range.geq === null && range.leq !== null" class="desc">bis {{ (range.leq / 100) |number:2 }}</div>
                <div ng-if="filter.filter == 'price' && range.geq !== null && range.leq !== null" class="desc">{{ (range.geq / 100) | number:2 }} bis {{ (range.leq / 100) |number:2 }}</div>
                <div ng-if="filter.filter == 'price' && range.geq !== null && range.leq === null" class="desc">&uuml;ber {{ (range.geq / 100) | number:2 }}</div>
                <div ng-if="filter.filter != 'price' && range.geq === null && range.leq !== null" class="desc">bis {{ (range.leq / 10) | number }}</div>
                <div ng-if="filter.filter != 'price' && range.geq !== null && range.leq !== null" class="desc">{{ (range.geq / 10) | number }} bis {{ (range.leq / 10) | number }}</div>
                <div ng-if="filter.filter != 'price' && range.geq !== null && range.leq === null" class="desc">&uuml;ber {{ (range.geq / 10) | number }}</div>
                <div class="numb">todo</div>
            </li>
        </ul>
    </div>
    <div class="filter-delete">
        <span>alle Filter zurücksetzen</span>
    </div>
</div>
