/* design the general layout of input, textarea, button and select */

.form-group input textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    font-size: 100%;
    margin: 0.8em 0 0.8em 0;
    padding: 3px;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #929497;
    overflow: hidden;
    /* for IE */
}

.form-group input:focus textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid black;
}

/* bis hier mit Bootstrap OK */

button:focus, select:focus {
    cursor: pointer;
    outline: none;
    color: black;
    border: 1px solid black;
}

button {
    display: block;
    float: right;
    font-size: 100%;
    color: #424242;
    margin: 0.3em 0 0.3em 0;
    padding: 3px 0.2em 3px 0.2em;
    box-shadow: none;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #929497;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
    outline: none;
    color: black;
    border: 1px solid black;
}

select:hover {
    cursor: pointer;
}

select.inline {
    display: inline;
    width: auto;
    margin: 0.3em;
}

input.inline {
    display: inline;
    width: 3.3em;
    margin: 0 0.3em 0 0.3em;
}

input.inline[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

/* design value placeholder for a select */

select:required:invalid {
    color: grey;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}