/* design overview layout */
li.overview table {
    width: 100%;
}

li.overview tr {
    text-align: left;
}

li.overview td.article-desc {
    text-align: right;
}

li.overview div.article-img {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

li.overview div.article-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    font-weight: bold;
    text-align: left;
    margin: 0.5em 0 0.5em 0;
}

li.overview div.article-title div {
    align-items: left;
}

li.overview div.article-title div.article-ids {
    text-align: right;
    width: 6ex;
    font-size: 70%;
}

li.overview div.article-prize {
    font-weight: bold;
    text-align: right;
    padding-top: 0.5em;
}
