/* design overview layout */
li.overview table {
    width: 100%;
}

li.overview tr {
    text-align: left;
}

li.overview td.article-desc {
    text-align: right;
}

li.overview div.article-img {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

li.overview div.article-title {
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
}

li.overview div.article-prize {
    font-weight: bold;
    text-align: right;
    padding-top: 0.5em;
}