/**
todo: completely rewrite this css
 */

.image-scroller .specifics .carousel {
    max-width: 600px;
}

.full-screen-image-scroller {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
}

.full-screen-image-scroller .close {
    position: absolute;
    top: 30px;
    right: 30px;
}

.full-screen-image-scroller .close img {
    width: 40px;
    height: 40px;
}

.full-screen-image-scroller img {
    height: 100%;
}

.full-screen-image-scroller .nav {
    position: absolute;
    top: 90px;
    width: 30%;
    height: calc(100% - 180px);
}

.full-screen-image-scroller .prev {
    left: 30px;
}

.full-screen-image-scroller .next {
    right: 30px;
}

.full-screen-image-scroller .prev .btn {
    position: absolute;
    top: 50%;
    left: 0;
}

.full-screen-image-scroller .next .btn {
    position: absolute;
    top: 50%;
    right: 0;
}

