* {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

h1 {
    font-size: 1.5em;
    padding-bottom: 0.8em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 0.4em;
}

h3 {
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.4em;
}

h4 {
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 0.4em;
}

h5 {
    font-size: 100%;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 0.4em;
}

p {
    line-height: 150%;
    padding-bottom: 3px;
}

li {
    padding-bottom: 0.2em;
    text-decoration: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #424242;
}

a:hover {
    color: black;
}

span.bold {
    font-weight: bold;
}

span.underline {
    text-decoration: underline;
}

/* design the general layout of input, textarea, button and select */

input, textarea, select {
    display: block;
    width: 100%;
    max-width: 100%;
    font-size: 100%;
    margin: 0.8em 0 0.8em 0;
    padding: 3px;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #929497;
    overflow: hidden;
    /* for IE */
}

textarea {
    resize: vertical;
}

button {
    display: block;
    float: right;
    font-size: 100%;
    color: #424242;
    margin: 0.3em 0 0.3em 0;
    padding: 3px 0.2em 3px 0.2em;
    box-shadow: none;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #929497;
    border-radius: 3px;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid black;
}

button:focus, select:focus {
    cursor: pointer;
    outline: none;
    color: black;
    border: 1px solid black;
}

button:hover {
    cursor: pointer;
    outline: none;
    color: black;
    border: 1px solid black;
}

select:hover {
    cursor: pointer;
}

select.inline {
    display: inline;
    width: auto;
    margin: 0.3em;
}

input.inline {
    display: inline;
    width: 3.3em;
    margin: 0 0.3em 0 0.3em;
}

input.inline[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

/* design value placeholder for a select */

select:required:invalid {
    color: grey;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}