* {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

h1 {
    font-size: 110%;
    padding-bottom: 0.8em;
}

h2 {
    font-size: 110%;
    padding-bottom: 0.4em;
}

h4 {
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 0.4em;
}

p {
    line-height: 150%;
    padding-bottom: 3px;
}

li {
    padding-bottom: 0.2em;
    text-decoration: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #424242;
}

a:hover {
    color: black;
}

span.bold {
    font-weight: bold;
}

span.underline {
    text-decoration: underline;
}
