div.navigation {
    width: 100%;
}

div.navigation ul {
    margin-bottom: 0 !important;
}

div.navigation li {
    float: left;
    list-style: none;
    margin-right: 0.4em;
    font-size: 110%;
    padding: 0.4em 0.6em 0.4em 0.6em;
    border-radius: 0.5em;
}

div.navigation span {
    display: block;
    font-size: 80%;
}

div.footer ul.navigation li {
    margin-right: 0;
    margin-left: 3ex;
    padding: 0.4em 0 0.4em 0.6em;
}

#header li.active a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#footer li.active a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
