/* design the head and the navigation of the head */

div.head {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 11em;
    margin: 0 1.2em 1.8em 1.2em;
    border-radius: 2px;
}

div.head span {
    font-size: 250%;
    padding-left: 2%;
    padding-bottom: 0.4em;
    color: #FFFFFF;
    text-shadow: 2px 2px 0.6em #424242;
}

div.head div.navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    background: rgba(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, 0.7);
}

div.head div.navigation li {
    align-items: center;
    margin: 0;
    padding: 0.3em 2% 0.3em 2%;
    border-right: 1px solid #F0E1DC;
    border-radius: 0;
    white-space: nowrap;
}

div.head a {
    padding: 0.3em;
    color: black;
}

div.head li:hover {
    background-color: #CC0000;
    opacity: 0.7;
    filter: alpha(opacity=70); /*Fall-back for IE*/
}

div.head li:hover a {
    color: #FFFFFF;
}

div.head li a.active {
    background-color: #CC0000;
    opacity: 0.7;
    filter: alpha(opacity=70); /*Fall-back for IE*/
}

div.head a.active {
    color: #FFFFFF;
}

/* design the intro */

div.intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8em;
}

@media (max-width: 799px) {
    div.intro {
        flex-direction: column;
    }
}

div.intro-desc {
    flex: 1 1 auto;
    width: 50%;
    padding: 0 1.2em 0 1.2em;
}

@media (max-width: 799px) {
    div.intro-desc {
        width: 100%;
        padding: 0.6em 1.2em 0.6em 1.2em;
    }
}

div.intro img {
    width: 100%;
    height: auto;
}

div.intro table {
    margin-bottom: 1em;
}

div.intro th {
    width: 4.8em;
    margin-bottom: 0.3em;
    text-align: left;
}

div.wide {
    width: 100%;
    padding: 0 1.2em 0 1.2em;
    min-width: 30em;
}

div.center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

div.right {
    align-items: right;
    text-align: right;
}

/* design the overview */

div.overview {
    flex: 1 1 auto;
    width: 50%;
    position: relative;
}

div.overview-text {
    left: 0;
    position: absolute;
    text-align: center;
    top: 20%;
    vertical-align: middle;
    width: 100%;
}

div.overview img {
    opacity: 0.7;
}

div.overview-text a {
    font-size: 3vw;
    color: #353535;
    text-shadow: 2px 2px 0.6em #FFFFFF;
}

div.overview-text a:hover {
    color: black;
}

div.overview span {
    font-size: 75%;
}

/* design the tooltip */

div.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    top: 160%;
    font-size: 100%;
    color: #424242;
    margin: 0.8em 0 0.8em 0;
    padding: 3px;
    box-shadow: none;
    box-sizing: border-box;
    background: white;
    border: 1px solid #929497;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}