button.info {
    display: inline;
    float: none;
    width: 1.2em;
    height: 1.2em;
    margin: 0 0.3em 0 0.3em;
    padding: 1px;
    border-radius: 0.6em;
    font-size: 65%;
    font-weight: bold;
    font-family: sans-serif;
}

/* desgin the button at right upper edge */

div.button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 0;
}

div.button-wrap button {
    width: 1.2em;
    height: 1.2em;
    margin: 0.6em;
    padding: 0;
}

div.button-wrap img {
    width: 90%;
    height: 90%;
    margin: 1px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.7;
}

div.button-wrap img:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/* design the buttons for a imgages gallery */

div.gallery-button {
    position: relative;
    width: 1.3em;
    height: 2.1em;
    margin: 0 0.6em 0 0.6em;
    padding: 0;
    z-index: 999;
}

div.gallery-button button {
    cursor: pointer;
    position: absolute;
    width: 1.3em;
    height: 2.1em;
    top: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    background: transparent;
}

div.gallery-button button.next:after {
    opacity: 0.5;
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    background: transparent;
    top: 0.4em;
    left: -0.3em;
    border: 3px solid black;
    border-left: none;
    border-top: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

div.gallery-button button.prev:after {
    opacity: 0.5;
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    background: transparent;
    top: 0.4em;
    left: 0.3em;
    border: 3px solid black;
    border-right: none;
    border-bottom: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

div.gallery-button button.next:hover::after {
    opacity: 1;
}

div.gallery-button button.prev:hover::after {
    opacity: 1;
}

/*the layout of the filter*/

div.filter-wrap {
    margin: auto;
    width: calc(100% - 3.6em);
    border-left: 1px solid black;
    border-right: 1px solid black;
}

div.filter-wrap div.intro-desc {
    padding: 0 1.8em 0 1.8em;
}

div.filter {
    display: flex;
    flex-direction: column;
    font-size: 90%;
}

div.filter-box {
    min-width: 200px;
    margin: 0.6em;
}

/* design the slider */

div.filter-slider {
    width: 100%;
    margin-bottom: 1.2em;
    text-align: left;
}

div.filter-slider div.tag {
    position: relative;
    float: right;
    top: -0.5em;

}

/* design the filter-list for a normal list */

ul.filter-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

ul.filter-list li {
    display: flex;
    list-style: none;
    margin: 0.3em;
    padding: 2px 0.4em 2px 0.4em;
    border-radius: 3px;
}

ul.filter-list li.selected {
    background-color: #85C1E9;
}

ul.filter-list li:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

ul.filter-list div.desc {
    flex: 1 1 auto;
    display: list-item;
}

ul.filter-list div.numb {
    text-align: right;
}


/* design the filter-list for the colors */

ul.filter-list-color {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

ul.filter-list-color li {
    list-style: none;
    margin: 0.3em;
}

ul.filter-list-color div.color-pix {
    width: 1.2em;
    height: 1.2em;
    border-radius: 3px;
    border: 1px solid #424242;
    box-sizing: border-box;
}

ul.filter-list-color div.color-pix:hover {
    cursor: pointer;
    border: 2px solid #EEEEEE;
}

ul.filter-list-color div.selected {
    border: 2px solid #85C1E9;
}

/* design the button Filter zurücksetzen */

div.filter-delete {
    font-size: 90%;
    align-self: flex-end;
    margin-bottom: 0.9em;
}

div.filter-delete button:hover {
    background-color: #F5B7B1;
}

/* design the gallery of articles */

ul.article {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    font-size: 85%;
    justify-content: space-between;
}

ul.article li {
    list-style: none;
    width: 150px;
    margin: 0.2em 0.8em 0.2em 0.8em;
    padding: 0.9em;
    border-radius: 3px;
    border: 2px solid #FFFFFF;
    box-sizing: content-box;
}

ul.article li:hover {
    cursor: pointer;
    border: 2px solid #EEEEEE;
}

ul.article li.empty {
    /* because of space-between to fix the last line */
    list-style: none;
    width: 181px;
    height: 0;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

ul.article table {
    width: 100%;
}

ul.article tr {
    text-align: left;
}

ul.article td.article-desc {
    text-align: right;
}

div.article-img {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

div.article-title {
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
}

div.article-prize {
    font-weight: bold;
    text-align: right;
    padding-top: 0.5em;
}


/* design the detail view of an article */

div.detail-wrap {
    display: flex;
    flex-direction: column;
    margin: 0.8em;
    padding: 0.6em;
    border: 2px solid #EEEEEE;
}

div.detail {
    display: flex;
    width: 100%;
    flex-direction: row;
}

div.detail-img {
    width: 50%;
    text-align: center;
    padding: 0.6em 0 0.6em 0;
}

span.detail-img-title {
    display: block;
    font-size: 100%;
    padding: 0.6em 0 1.5em 0;
}

div.detail-img img {
    position: relative;
    height: 40vw;
    max-height: 600px;
    width: auto;
}

div.detail-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0.6em 1.2em 0.6em 1.2em;
    padding: 0.6em 0.6em 0.6em 1.8em;
    border-left: 2px solid #EEEEEE;
}

div.article-computed {
    width: 100%;
    max-width: 500px;
    padding-bottom: 3em;
}

div.article-exist {
    width: 100%;
    max-width: 500px;
    padding-bottom: 0.3em;
}

span.detail-desc-title {
    display: block;
    font-size: 140%;
    padding-bottom: 0.9em;
}

table.tech-data {
    width: 100%;
    padding-bottom: 0.9em;
}

table.tech-data td {
    text-align: left;
    padding-bottom: 0.3em;
}

table.tech-data td.article-desc {
    text-align: right;
}

table.tech-data td.spacer {
    border-top: 1px solid black;
    padding-bottom: 0.6em;
}