/* design the detail view of an article */

div.detail {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div.detail-img {
    width: 50%;
    text-align: center;
    padding: 0.6em 0 0.6em 0;
}

span.detail-img-title {
    display: block;
    font-size: 100%;
    padding: 0.6em 0 1.5em 0;
}

div.detail-img img {
    position: relative;
    height: 40vw;
    max-height: 600px;
    width: auto;
}

div.detail-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0.6em 1.2em 0.6em 1.2em;
    padding: 0.6em 0.6em 0.6em 1.8em;
    border-left: 2px solid #EEEEEE;
}

div.detail-desc-title {
    text-align: left;
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 0.1em;
}

div.detail-desc-ids {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    padding-bottom: 0.9em;
}

div.detail-desc-ids div {
    padding-right:1.5em;
    font-size: 70%;
}

div.detail-desc-de {
    padding-bottom: 0.9em;
}

div.article-computed {
    width: 100%;
    max-width: 500px;
    padding-bottom: 3em;
}

div.article-exist {
    width: 100%;
    max-width: 500px;
    padding-bottom: 0.3em;
}

table.tech-data {
    width: 100%;
    padding-bottom: 0.9em;
}

table.tech-data td {
    text-align: left;
    vertical-align: top;
    padding-bottom: 0.3em;
}

table.tech-data td.article-desc {
    text-align: right;
}

table.tech-data td.price {
    font-weight: bold;
}

table.tech-data td.spacer {
    padding-bottom: 0.6em;
}

table.tech-data td.spacer-line {
    border-top: 1px solid black;
    padding-bottom: 0.3em;
}

/* design the buttons for a imgages gallery */

div.gallery-button {
    position: relative;
    width: 1.3em;
    height: 2.1em;
    margin: 0 0.6em 0 0.6em;
    padding: 0;
    z-index: 999;
}

div.gallery-button button {
    cursor: pointer;
    position: absolute;
    width: 1.3em;
    height: 2.1em;
    top: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    background: transparent;
}

div.gallery-button button.next:after {
    opacity: 0.5;
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    background: transparent;
    top: 0.4em;
    left: -0.3em;
    border: 3px solid black;
    border-left: none;
    border-top: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

div.gallery-button button.prev:after {
    opacity: 0.5;
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    background: transparent;
    top: 0.4em;
    left: 0.3em;
    border: 3px solid black;
    border-right: none;
    border-bottom: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

div.gallery-button button.next:hover::after {
    opacity: 1;
}

div.gallery-button button.prev:hover::after {
    opacity: 1;
}