/* design the detail view of an article */

div.detail {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div.detail-img {
    width: 50%;
    text-align: center;
    padding: 0.6em 0 0.6em 0;
}

div.detail-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0.6em 1.2em 0.6em 1.2em;
    padding: 0.6em 0.6em 0.6em 1.8em;
    border-left: 2px solid #EEEEEE;
}

div.detail-desc-title {
    text-align: left;
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 0.1em;
}

div.detail-desc-ids {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    padding-bottom: 0.9em;
}

div.detail-desc-ids div {
    padding-right:1.5em;
    font-size: 70%;
}

div.detail-desc-de {
    padding-bottom: 0.9em;
}

div.article-computed {
    width: 100%;
    max-width: 500px;
    padding-bottom: 3em;
}

div.article-exist {
    width: 100%;
    max-width: 500px;
    padding-bottom: 0.3em;
}

table.tech-data {
    width: 100%;
    padding-bottom: 0.9em;
}

table.tech-data td {
    text-align: left;
    vertical-align: top;
    padding-bottom: 0.3em;
}

table.tech-data td.article-desc {
    text-align: right;
}

table.tech-data td.price {
    font-weight: bold;
}

table.tech-data td.spacer {
    padding-bottom: 0.6em;
}

table.tech-data td.spacer-line {
    border-top: 1px solid black;
    padding-bottom: 0.3em;
}